<!DOCTYPE html>
<html>
<head>
  <title>P2App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Mallard Team Yayyy!!!</h1>
<h3>Please sign up if you are not a member</h3>
<%= link_to "Sign up", new_user_path %>

<h3>Please log in if you are a member</h3>
<%= link_to "Log in", login_path %>
<%= yield %>

</body>
</html>
