<div class="user-info" id="<%= dom_id(user) %>">
  <div id="avatar">
    <h1><%= user.first_name[0] %></h1>
  </div>
  <div id="info">
    <h1>Hello, <%= user.first_name %>!</h1>
      <div id='over-line'></div>
    <h4><%= user.username %></h3>
    <p><%= user.email %><br><%= user.birthday %></p>
      <div id='under-line'></div>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  </div>
  <div id="score">
    <h1 id="user-score"><b><%= user.score %></b> PTS</h1>
    <h1 id="animal-count"><b><%= user.animals.length %></b> ANIMALS</h1>
  </div>
</div>
