<html>
<head>
	<title>mallard-game-index</title>
</head>
<body>
	<h1>Welcome to the Spelling Zoo!</h1>
	<h4>(A Team Advice Mallard Production)</h4>
	<section class="clearfix" id='main'>


		<div class='environment' id='farm'>
			<h2>Farm</h2>
			<article class="levels clearfix clear">
				<% counter = 1 %>
				<% Animal.where(environment: "Farm").each do |animal| %>
				<a href='<%= "/games/#{animal.id}" %>'><div class='level'><h1><%= counter %></h1></div>
					<% counter += 1 %>
					<% end %>
			</article>
		</div>

		<div class='environment' id='jungle'>
			<h2>Jungle</h2>
			<article class="levels clearfix clear">
				<% counter = 1 %>
				<% Animal.where(environment: "Jungle").each do |animal| %>
				<a href='<%= "/games/#{animal.id}" %>'><div class='level'><h1><%= counter %></h1></div>
					<% counter += 1 %>
					<% end %>
			</article>
		</div>

		<div class='environment' id='savanna'>
			<h2>Savanna</h2>
			<article class="levels clearfix clear">
				<% counter = 1 %>
				<% Animal.where(environment: "Savanna").each do |animal| %>
				<a href='<%= "/games/#{animal.id}" %>'><div class='level'><h1><%= counter %></h1></div>
					<% counter += 1 %>
					<% end %>
			</article>
		</div>

		<div class='environment' id='forest'>
			<h2>Forest</h2>
			<article class="levels clearfix clear">
				<% counter = 1 %>
				<% Animal.where(environment: "Forest").each do |animal| %>
				<a href='<%= "/games/#{animal.id}" %>'><div class='level'><h1><%= counter %></h1></div>
					<% counter += 1 %>
					<% end %>
			</article>
		</div>

	</section>
</body>
</html>
