<h1>Welcome back, <%= @user.first_name %>!</h1>

<h3>Your account information: </h3>
Your Username: <%= @user.username %></br>
Email: 				 <%= @user.email %></br>
Birthday:      <%= @user.birthday %></br>
Score:         <%= @user.score %></br>
<%= link_to "Log out", logout_path %>