<!DOCTYPE html>
<html>
<head>
  <title>P2App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Mallard Team Yayyy!!!</h1>

<div class="profile-sidebar">
  <% if user_signed_in? %>
  <%= render current_user %>
    <div class="my-animals">
      <div id="jungle"></div>
      <div id="forest"></div>
      <div id="farm"></div>
      <div id="savanna"></div>
    </div>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>

  <%= yield :sidebar %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<%= yield %>

</body>
</html>
