<!DOCTYPE html>
<html>
<head>
  <title>Spelling Zoo</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="profile-sidebar"> <!-- sidebar -->
    <button id='close-profile' type="button">Close</button>
    <% if user_signed_in? %>
      <%= render current_user %>
      <%= render 'users/animals' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path, :id => 'sign-in' %>
      <%= link_to 'Sign up', new_user_registration_path, :id => 'sign-up' %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield :sidebar %>


  </div>

  <div class="page-content"> <!-- wrapper for the content -->
    <button id='open-profile' type="button">Open</button>
      <div class="main"> <!-- actual content -->
        <% if user_signed_in? %>
          <%= yield %>
        <% else %>
          <h1> Welcome to the Spelling Zoo!</h1>
          <h2> Please log in or sign up to get started.</h2>
        <% end %>
      </div>
  </div>
</body>
</html>
